<% include header %>
<ul class="archive">
    <% var lastday = 0 %>
    <% posts.forEach(function(post,index){ %>
        <% if(lastday != post.time.day ) {%>
        <li><h3><%= post.time.day %></h3></li>
        <% lastday = post.time.day }%>
        <li><time><%= post.time.day %></time></li>
        <li><a href="
        /u/<%= post.name %>/<%= post.time.minute %>/<%= post.title %>
        "><%= post.title %></a></li>
    <% }) %>
</ul>
<% include footer %>