<% include header %>
<form method="post" action="/edit/<%= post.name %>/<%= post.time.minute %>/<%= post.title %>">
    <label>标题:</label><br>
    <input type="text" name="title" value="<%= post.title %>" disabled="disabled"><br>
    <label>正文:</label><br>
    <textarea cols="100" rows="10" name="post"><%= post.post %></textarea>
    <input type="submit" value="提交">
</form>
<% include footer %>